<%- include("partials/header") -%>

<!-- Secrets-->
<div class="bg-light text-center">
<div class="container">
<i class="fas fa-key"></i>
<h1 class="display-3">You've discovered my Secret!</h1>
<p class="secret-text">I love eating Beef.</p>
<hr>
<a href="/logout" class="btn btn-light btn-lg" role="button">Log Out</a>
<a href="/submit" class="btn btn-dark btn-lg" role="button">Submit a Secret</a>
</div>
</div>

<%- include("partials/footer") -%>
